*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}

.body{
    background-color: orchid;
    display: flex;
    width: 100%;
    height: 617px;
    align-items: center;
    justify-content: center;
}

/*------------------------------------------------------------- CONTENUES DU PROFIL ---------------------------------------------------------------*/

.profil{
    width: 20%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
}
.profil div:first-child{
    width: 100%;
    height: 60%;
    
}
.infoprofil{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.imageprofil{
    height: 80%;
    width: 100%;
}

.imageprofil img{
    width: 60%;
    height: 100%;
    border-radius: 80px;
}
.nomprofil{
    height:20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
}
/*------------------------------------------------------------- PROFESSION ET BIO ---------------------------------------------------------------*/

.autres{
    width: 100%;
    height: 40%;
    /* display: flex; */
}

.autres div:first-child{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40%;
    
}
.autres div:nth-child(2){
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 100%;
    height: 30%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
/*------------------------------------------------------------- POUR LES BOUTONS ---------------------------------------------------------------*/
.autres div:last-child{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.autres div:last-child span{
    cursor: pointer;
    display: flex;
    color: orchid;
    font-weight: bold;
}
.autres div:last-child i:hover{
    color: orchid;
}
@media screen and (min-width:100px) and (max-width:250px) {
    .profil{
        width: 100%;
        max-width: 90%;
        height: 90%;
    }
}

@media screen and (min-width:250px) and (max-width:400px) {
    .profil{
        width: 80%;
    }
}
@media screen and (min-width:400px) and (max-width:750px) {
    .profil{
        width: 40%;
    }
}
@media screen and (min-width:751px) and (max-width:1297px) {
    .profil{
        width: 30%;
    }
}